<div class="m-4 bg-white rounded shadow">
  <div class="p-3">
    <h4 class="acme-heading mb-0">Account List</h4>
  </div>
  <table class="acme-accountlist table table-striped">
    <thead>
    <tr>
      <th scope="col p-2">Account Number</th>
      <th scope="col">Account Type</th>
      <th scope="col">Balance</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{account.number}}</td>
      <td>{{account.type}}</td>
      <td>{{account.balance | currency:'ZAR' | space:3}}</td>
      <td>
        <!--Make a component-->
        <app-bs-account-with-draw-drop-down [account]="account" (onWithdrawEvent)="withDraw($event)"></app-bs-account-with-draw-drop-down>
      </td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Balance</td>
        <td></td>
        <td>{{totalACMEBalance | currency:'ZAR' | space:3}}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
