.acme-heading {
  color: #d50034;
}

.table.acme-accountlist {
  thead th {
    border-bottom: none;
  }

  tbody td {
    padding: 0.55rem;
    vertical-align: middle;
  }

  tfoot tr td {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

