<div>
  <nav>
    <div class="navbar navbar-expand navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Acme Bank</strong>
        </a>
      </div>
    </div>
  </nav>
</div>

<main role="main" class="container">
  <div class="m-3 bg-white rounded shadow-sm">
    <div class="p-3">
      <h6 class="pb-2 mb-0">Account List</h6>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Account Number</th>
        <th scope="col">Account Type</th>
        <th scope="col">Balance</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>6767676567898765476765</td>
        <td>cheque</td>
        <td>-ZAR 296.65</td>
        <td><button>Withdraw</button></td>
      </tr>
      <tr>
        <td>6767676567898765476765</td>
        <td>savings</td>
        <td>ZAR 0</td>
        <td><button>Withdraw</button></td>
      </tr>
      </tbody>
    </table>
    <div class="p-3 rounded shadow-sm d-flex">
      <h6 class="pb-2 mb-0 flex-fill">Balance</h6>
      <h6 class="pb-2 mb-0 flex-fill">ZAR 1,732.47</h6>
    </div>
  </div>
</main>
